@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

$text-color: #000000;
$primary-color: #854836;
$secondary-color: #f7f7f7;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  background: url("/images/repeated-square.webp");
}

.header {
  h1 {
    color: $text-color;
  }
  img {
    border-radius: 30px;
    box-shadow: 20px 20px $text-color;
  }
}

.social-wrapper {
  color: $text-color;
  padding: 0 0;
  .social-items {
    height: 20vh;
    padding: 0 0;
    h1 {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 2rem;
    }
    h3 {
      font-weight: 400;
    }
    img {
      max-width: 50px;
    }
    a {
      color: $secondary-color;
      background-color: $text-color;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      img {
        width: 20px;
      }
    }
  }
}

.About-wrapper{
  h1{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
    img{
        border-radius: 30px;
    }
}

.Video-wrapper{
  h1{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .videos{

  }
}

.hyperlink{
    background-color: $text-color;
    height: 10vh;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: $secondary-color;
        text-transform: uppercase;
    }
}

.email{
    position: fixed;
   background-color: $secondary-color;
   padding: 10px 10px;
   border-radius: 50%;
   box-shadow: 2px 2px 10px #555454;
   right: 10px;
   bottom: 10px;
       img{
           width: 30px;
           height: 30px;
       }
}
